@charset "UTF-8";

body {
    font-family: "Bree Serif", sans-serif;
    margin: 0;
    padding: 0;
}

.navigation header {
    background-color: #FFFFFF;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

h1 {
    color: #1CADFB;
    font-family: "Berkshire Swash", cursive;
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #47525E;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.login-button {
    background-color: #1CADFB;
    color: white;
    font-family: "Lato", sans-serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 118px;
    height: 30px;
}

.container h2 {
    color: #47525E;
    font-family: "Bree Serif", sans-serif;
    font-size: 30px;
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.content .room {
    margin-bottom: 20px;
}

.content .room img {
    max-width: 100%;
    height: auto;
    display: block;
}

.content .room p {
    color: black;
    margin-top: 10px;
}

